h1 {
  color: blue;
  font-style: italic;
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
  text-align: right;
}
h3 {
  color: rgb(250, 6, 6);
  margin-left: 4em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  height: 2em;
  padding: 8px;
  background-color: #a2b0b9;
}

.black-border {
  border: 5px groove;
  background-color: rgb(196, 224, 233);
  box-sizing: border-box;
  margin: 0 auto;
  width: 600px;
}

.padd-border {
  border: 15px groove;
  margin-top: 1em;
  margin-left: 4em;
  padding-left: 6em;
  padding-top: 3em;
  padding-bottom: 4em;
  border-radius: 4mm;
  box-sizing: border-box;
  width: 60%;
  border-bottom: 4em;
}
#green {
  background-color: rgb(185, 238, 181);
  color: rgb(32, 1, 28);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border: 6px ridge;
  box-sizing: border-box;
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}
body {
  background-color: rgb(201, 231, 243);
}
